#AuthHintDialog {
	background-color: qlineargradient(spread: pad, x1: 0, y1: 1, x2: 0, y2: 0, 
    stop: 0 rgba(255, 241, 235, 255), 
    stop: 1 rgba(172, 224, 249, 255));
}

#confirmBtn {
	background-color: transparent;
	border: 1px solid #333;
	border-radius: 5px;
}

#confirmBtn:hover {
	background-color: rgba(153, 153, 153, 0.3);
}